

<ion-header>
    <ion-card> 
        <ion-card-header>
          <ion-card-title>Seleccione un personaje</ion-card-title>
        </ion-card-header>
    </ion-card>

</ion-header>



<ion-content>

<ion-card (click)="imagenTormenta()"> 
  <ion-card-header>
    <ion-card-title>Tormenta - Marvel</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="../../assets/tormentacaja.jpg"></ion-img>
  </ion-card-content>
</ion-card>

<ion-card (click)="imagenMaravilla()">  
  <ion-card-header>
    <ion-card-title>Maravilla - DC</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="../../assets/mujermaravillacaja.png"></ion-img>
  </ion-card-content>
</ion-card>



</ion-content>