<ion-header>
    <ion-toolbar>
      <ion-title>Resultados</ion-title>
      <ion-buttons slot="start">
        <ion-back-button (click)="irMenu()">
          
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


 

<ion-content padding class="juego">
    <ion-card *ngFor="let item of students">
        <ion-card-header>
          <ion-row justify-content-between>
       
            <ion-col  col-auto>
              <ion-row text-wrap>
                <h2> Usuario: {{item.nombre}} </h2>
              </ion-row>
              <ion-row text-wrap>
                <h1>Tiempo: {{item.tiempo}} </h1>
              </ion-row>
              <ion-row class="buttons">
                <ion-col>
                                     </ion-col>
                <ion-col>
                   
                </ion-col>
                <ion-col>
                  
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-header>
        </ion-card>

  <ion-button routerLink="/menu" class="btn lg cta" >Volver</ion-button>  
</ion-content>
