.icon{
      
        height: 25vh !important;
        width: auto !important;
        margin: auto !important;
        display: block !important;
        padding-bottom: 10px;
        //border-radius: 100%
    
}

.social-facebook{
    --background : #3b5998;
}
.social-google{
    --background : #dd4b39;
}
.social-twitter{
    --background : #55acee;
}